html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:aftere {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  position: relative;
  background-color: #1e1d1d;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:visited, a:active {
  text-decoration: none;
  color: white;
}

ul li {
  list-style-type: none;
}

button {
  color: black;
}

.login_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.login_container::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-image: url("../images/background_img.jpg");
  background-position: top center;
  background-size: cover;
  opacity: 0.5;
}
.login_container .login_header {
  display: flex;
  flex-direction: row;
}
.login_container .login_header .login_navbar {
  width: 100%;
  padding: 1em;
  z-index: 2;
}
.login_container .login_header .login_navbar .login_logo {
  margin-left: 0.1em;
  font-size: 2rem;
  font-weight: 800;
}
.login_container .login_main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}
.login_container .login_main .login_form {
  background-color: black;
  border-radius: 1em;
  opacity: 70%;
  width: 25em;
  height: 30em;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0em 1em 1em 0.1em rgba(128, 128, 128, 0.381);
}
.login_container .login_main .login_form .login_formholder {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
}
.login_container .login_main .login_form .login_formholder .login_signin {
  width: 100%;
  padding-top: 2rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}
.login_container .login_main .login_form .login_formholder .login_section {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 2rem;
  margin-top: 2rem;
}
.login_container .login_main .login_form .login_formholder .login_input {
  margin-inline: auto;
  padding: 1em;
  width: 17em;
  border-radius: 0.6em;
  border: none;
  outline: none;
}
.login_container .login_main .login_form .login_formholder .login_btn {
  margin-inline: auto;
  width: 10rem;
  padding: 1em 1em;
  border-radius: 0.6em;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.5rem;
}
.login_container .login_main .login_form .login_formholder .login_btn:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease-out;
}
.login_container .login_main .login_form .login_formholder .login_register {
  padding-left: 5rem;
  padding-right: 4rem;
}
.login_container .login_main .login_form .login_formholder .login_register a:hover::after {
  content: ".";
  transition: 0.5s ease-in-out;
}
.login_container .login_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(10, 9, 9);
  padding: 0.5em;
}

.main_header .main_nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0A2647;
  padding: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.main_header .main_nav .main_logo {
  margin-top: auto;
  margin-bottom: auto;
}
.main_header .main_nav .main_ul, .main_header .main_nav .main_list {
  list-style-type: none;
  display: inline-block;
  padding: 0.3em;
}

/* Main part  */
.main_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1em;
  margin-top: 5rem;
  -moz-column-gap: 1em;
       column-gap: 1em;
  row-gap: 1em;
}
.main_container .card {
  width: 100%;
  height: 23rem;
  border-radius: 10px;
  background-color: #144272;
  font-size: 3rem;
  position: relative;
  background-image: url(../images/condenser.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.main_container .product {
  visibility: hidden;
}
.main_container .card:hover .product {
  width: 100%;
  height: 25%;
  background-color: rgba(17, 16, 16, 0.55);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.488) inset;
  border: none;
  -webkit-mask-box-image: inhert;
          mask-border: inhert;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 0.3em 0.3em 0.3em 0.1em;
  transition: 0.2s ease-in-out;
  visibility: visible;
}
.main_container .card:hover .bagbtn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em;
  background: gray;
  border: none;
  color: white;
  border-radius: 3px;
  margin-left: auto;
}

.home_page_container {
  height: 100vh;
}
.home_page_container::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-image: url("../../images/back img1.avif");
  background-position: top center;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}
.home_page_container .home_page__header .home_page__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  font-size: 1.2rem;
  background-color: rgb(47, 240, 47);
}
.home_page_container .home_page__header .home_page__nav .home_page__logo {
  margin-top: auto;
  margin-bottom: auto;
}
.home_page_container .home_page__header .home_page__nav .home_page__ul, .home_page_container .home_page__header .home_page__nav .home_page__list {
  list-style-type: none;
  display: inline-block;
  padding: 0.3em;
  padding-right: 1rem;
}
.home_page_container .home_page__header .home_page__nav .home_page__ul :hover, .home_page_container .home_page__header .home_page__nav .home_page__list :hover {
  text-shadow: 5px 5px 10px gray;
  transition: 0.5s ease-in-out;
  font-size: 1.5rem;
}
.home_page_container .home_page_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 2rem;
  padding: 1.5em;
}
.home_page_container .home_page_main .home_page_left {
  width: 42%;
}
.home_page_container .home_page_main .home_page_right {
  background-color: rgba(128, 128, 128, 0.308);
  opacity: 0.4;
  padding: 1em;
  color: white;
  border-radius: 0.5em;
}
.home_page_container .home_page_main .home_page_right:hover {
  opacity: 1;
  transition: 0.4s ease-in-out;
}
.home_page_container .home_page_footer {
  background-color: rgba(10, 9, 9, 0.073);
  padding: 0.5em;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.login_option_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login_option_container::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-position: top center;
  background-size: cover;
  opacity: 0.5;
}
.login_option_container .login_option_header {
  display: flex;
  flex-direction: row;
}
.login_option_container .login_option_header .login_option_navbar {
  width: 100%;
  padding: 1em;
  z-index: 2;
  background-color: rgb(98, 231, 98);
}
.login_option_container .login_option_header .login_option_navbar .login_option_logo {
  margin-left: 0.1em;
  font-size: 2rem;
  font-weight: 800;
}
.login_option_container .login_option_center_container {
  width: 50em;
  height: 30em;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0em 1em 1em 0.1em rgba(128, 128, 128, 0.381);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: black;
  opacity: 70%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_option_container .login_option_center_container .login_option_buyer {
  background-color: gray;
  display: flex;
  align-items: center;
  margin: 1rem;
  height: 10rem;
  font-size: 2rem;
  padding: 1rem 5rem 1rem 5rem;
  border-radius: 8px;
}
.login_option_container .login_option_center_container .login_option_buyer:hover {
  transition: 0.6s ease-in-out;
  box-shadow: 0em 1em 1em 0.1em rgba(128, 128, 128, 0.381);
  color: black;
  border-radius: 20px;
}
.login_option_container .login_option_center_container .login_option_seller {
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 1rem 5rem 1rem 5rem;
  font-size: 2rem;
  border-radius: 8px;
}
.login_option_container .login_option_center_container .login_option_seller:hover {
  transition: 0.6s ease-in-out;
  box-shadow: 0em 1em 1em 0.1em rgba(128, 128, 128, 0.381);
  color: black;
  text-shadow: 1rem;
  border-radius: 20px;
}
.login_option_container .login_option_center_container .login_option_admin {
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 1rem 5rem 1rem 5rem;
  font-size: 2rem;
  border-radius: 8px;
  margin-left: 1rem;
}
.login_option_container .login_option_center_container .login_option_admin:hover {
  transition: 0.6s ease-in-out;
  box-shadow: 0em 1em 1em 0.1em rgba(128, 128, 128, 0.381);
  color: black;
  text-shadow: 1rem;
  border-radius: 20px;
}
.login_option_container .login_option_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(10, 9, 9);
  padding: 0.5em;
  margin-top: auto;
}

.buyer_register_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.buyer_register_container::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-image: url("../images/back img.jpg");
  background-position: top center;
  background-size: cover;
  opacity: 0.5;
}
.buyer_register_container .buyer_register_header {
  display: flex;
  flex-direction: row;
}
.buyer_register_container .buyer_register_header .buyer_register_navbar {
  width: 100%;
  padding: 1em;
  z-index: 2;
}
.buyer_register_container .buyer_register_header .buyer_register_navbar .buyer_register_logo {
  margin-left: 1em;
  font-size: 2rem;
  font-weight: 800;
}
.buyer_register_container .buyer_register_main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
}
.buyer_register_container .buyer_register_main .buyer_register_form {
  background-color: black;
  border-radius: 1em;
  opacity: 70%;
  width: 25em;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0em 1em 1em 0.1em rgba(128, 128, 128, 0.381);
}
.buyer_register_container .buyer_register_main .buyer_register_form .buyer_register_formholder {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
}
.buyer_register_container .buyer_register_main .buyer_register_form .buyer_register_formholder .buyer_register_heading {
  width: 100%;
  padding-top: 2rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}
.buyer_register_container .buyer_register_main .buyer_register_form .buyer_register_formholder .buyer_register_section {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1.5rem;
  margin-top: 2rem;
}
.buyer_register_container .buyer_register_main .buyer_register_form .buyer_register_formholder .buyer_register_input {
  padding: 1em;
  width: 100%;
  border-radius: 0.6em;
  border: none;
  outline: none;
}
.buyer_register_container .buyer_register_main .buyer_register_form .buyer_register_formholder .buyer_register_btn {
  margin-inline: auto;
  width: 10rem;
  padding: 1em 1em;
  border-radius: 0.6em;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.5rem;
  border: none;
}
.buyer_register_container .buyer_register_main .buyer_register_form .buyer_register_formholder .buyer_register_btn:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease-out;
}
.buyer_register_container .buyer_register_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(10, 9, 9);
  padding: 0.5em;
}

.seller_page_container {
  height: 100%;
}
.seller_page_container::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-image: url("../images/background_img.jpg");
  background-position: top center;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}
.seller_page_container .seller_page__header .seller_page__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  font-size: 1.2rem;
}
.seller_page_container .seller_page__header .seller_page__nav .seller_page__logo {
  margin-top: auto;
  margin-bottom: auto;
}
.seller_page_container .seller_page__header .seller_page__nav .seller_page__ul, .seller_page_container .seller_page__header .seller_page__nav .seller_page__list {
  list-style-type: none;
  display: inline-block;
  padding: 0.3em;
  padding-right: 1rem;
}
.seller_page_container .seller_page__header .seller_page__nav .seller_page__ul :hover, .seller_page_container .seller_page__header .seller_page__nav .seller_page__list :hover {
  text-shadow: 5px 5px 10px gray;
  transition: 0.5s ease-in-out;
  font-size: 1.5rem;
}
.seller_page_container .seller_page_btn_container {
  display: flex;
  justify-content: center;
}
.seller_page_container .seller_page_btn_container .seller_page_button {
  z-index: 1;
  padding: 0.7em;
  border-radius: 0.4em;
  border: none;
  outline: none;
  color: gray;
  background: rgba(25, 26, 28, 0.7568627451);
  font-weight: bold;
}
.seller_page_container .seller_page_btn_container .seller_page_button:hover {
  font-size: 1.2em;
  transition: 0.5s ease-in-out;
  color: white;
}
.seller_page_container .seller_page_product_list {
  background-color: rgba(128, 128, 128, 0.221);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}
.seller_page_container .seller_page_popupdialog {
  display: none;
  flex-direction: column;
  z-index: 4;
  font-size: 1.1rem;
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin-bottom: 10rem;
}
.seller_page_container .seller_page_popupdialog .seller_page_popupdialog_heading {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  margin-top: 0.4rem;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s ease-in-out;
}
.seller_page_container .seller_page_popupdialog .seller_page_form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  background-color: rgba(25, 26, 28, 0.7568627451);
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.seller_page_container .seller_page_popupdialog .seller_page_form .seller_page_label {
  padding-top: 1em;
  padding-bottom: 1em;
}
.seller_page_container .seller_page_popupdialog .seller_page_form .seller_page_input {
  padding: 0.5em;
  border-radius: 0.5em;
  outline: none;
  height: 2em;
}
.seller_page_container .seller_page_popupdialog .seller_page_form .seller_page_product_type {
  color: rgba(25, 26, 28, 0.7568627451);
  background-color: white;
  padding: 1em;
  border: none;
  outline: none;
  border-radius: 0.5em;
  margin-right: auto;
  width: 20rem;
}
.seller_page_container .seller_page_popupdialog .seller_page_form .seller_page_input_button {
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  margin-top: 1rem;
  padding-bottom: 0.5em;
  border-radius: 0.5em;
  outline: none;
  height: 2em;
  font-size: 1.1rem;
  background-color: #808080;
  border: none;
  outline: none;
}
.seller_page_container .seller_page_popupdialog .seller_page_form .seller_page_input_button:hover {
  color: white;
  background-color: black;
  opacity: 0.5;
  transition: 0.4s ease-in;
}
.seller_page_container .seller_page_product_list .seller_page_card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.seller_page_container .seller_page_product_list .seller_page_card .card_image {
  margin-left: 5rem;
  width: 250px;
  height: auto;
  background-size: cover;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.seller_page_container .seller_page_product_list .seller_page_card .card_name {
  font-size: 2.2rem;
  margin-left: 1rem;
}
.seller_page_container .seller_page_product_list .seller_page_card .card_type {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
.seller_page_container .seller_page_product_list .seller_page_card .card_price {
  margin-left: 1rem;
  margin-top: 1rem;
}
.seller_page_container .seller_page_product_list .seller_page_card .seller_page_remove_btn {
  width: 5rem;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  border: none;
  outline: none;
  border-radius: 0.7rem;
}
.seller_page_container .seller_page_product_list .seller_page_card .seller_page_remove_btn:hover {
  width: 6rem;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.seller_page_container .seller_page_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(10, 9, 9, 0.073);
  padding: 0.5em;
  margin-top: auto;
}

.purchase_page_container {
  height: 100%;
}
.purchase_page_container::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-image: url("../images/background_img.jpg");
  background-position: top center;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}
.purchase_page_container .purchase_page__header .purchase_page__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  font-size: 1.2rem;
}
.purchase_page_container .purchase_page__header .purchase_page__nav .purchase_page__logo {
  margin-top: auto;
  margin-bottom: auto;
}
.purchase_page_container .purchase_page__header .purchase_page__nav .purchase_page__ul, .purchase_page_container .purchase_page__header .purchase_page__nav .purchase_page__list {
  list-style-type: none;
  display: inline-block;
  padding: 0.3em;
  padding-right: 1rem;
}
.purchase_page_container .purchase_page__header .purchase_page__nav .purchase_page__ul :hover, .purchase_page_container .purchase_page__header .purchase_page__nav .purchase_page__list :hover {
  text-shadow: 5px 5px 10px gray;
  transition: 0.5s ease-in-out;
  font-size: 1.5rem;
}
.purchase_page_container .purchase_page__header .purchase_page__nav .purchase_page__ul .purchase_page_add_to_bag, .purchase_page_container .purchase_page__header .purchase_page__nav .purchase_page__list .purchase_page_add_to_bag {
  width: 2rem;
  height: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  visibility: visible;
}
.purchase_page_container .purchase_page_clear_cart_form {
  background-color: rgba(128, 128, 128, 0.55);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
}
.purchase_page_container .purchase_page_clear_cart_btn {
  background-color: rgba(36, 22, 22, 0.9);
  color: white;
  border: none;
  outline: none;
  padding: 0.8rem;
  border-radius: 0.4rem;
}
.purchase_page_container .purchase_page_clear_cart_btn:hover {
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding-left: 3rem;
  padding-right: 3rem;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.purchase_page_container .purchase_page_section {
  display: flex;
  justify-content: center;
}
.purchase_page_container .purchase_page_product_list {
  background-color: rgba(128, 128, 128, 0.55);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  display: flex;
  padding-left: auto;
  padding-right: auto;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.purchase_page_container .purchase_page_product_list .purchase_page_card {
  width: 18rem;
  height: 100%;
  padding: 1rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
}
.purchase_page_container .purchase_page_product_list .purchase_page_card .pp_card_image {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  margin: auto auto;
  padding: 1rem 1rem 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.purchase_page_container .purchase_page_product_list .purchase_page_card .pp_card_name {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.purchase_page_container .purchase_page_product_list .purchase_page_card .pp_card_type {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.purchase_page_container .purchase_page_product_list .purchase_page_card .pp_card_price {
  margin-top: 1rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
}
.purchase_page_container .purchase_page_product_list .purchase_page_card .pp_form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 1rem;
}
.purchase_page_container .purchase_page_product_list .purchase_page_card .pp_form .pp_atb_btn {
  background-color: rgba(36, 22, 22, 0.9);
  color: white;
  border: none;
  outline: none;
  padding: 0.8rem;
  border-radius: 0.4rem;
}
.purchase_page_container .purchase_page_product_list .purchase_page_card .pp_form .pp_atb_btn:hover {
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding-left: 3rem;
  padding-right: 3rem;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.purchase_page_container .purchase_page_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(10, 9, 9, 0.073);
  padding: 0.5em;
  margin-top: auto;
}

.cart_page_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart_page_container::before {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-image: url("../images/background_img.jpg");
  background-position: top center;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}
.cart_page_container .cart_page__header .cart_page__nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  font-size: 1.2rem;
  margin-left: 2rem;
  font-size: 1.3rem;
}
.cart_page_container .cart_page__header .cart_page__nav .cart_page__logo {
  margin-top: auto;
  margin-bottom: auto;
}
.cart_page_container .cart_page__header .cart_page__nav .cart_page__ul, .cart_page_container .cart_page__header .cart_page__nav .cart_page__list {
  list-style-type: none;
  display: inline-block;
  padding: 0.3em;
  padding-right: 1rem;
}
.cart_page_container .cart_page__header .cart_page__nav .cart_page__ul :hover, .cart_page_container .cart_page__header .cart_page__nav .cart_page__list :hover {
  text-shadow: 5px 5px 10px gray;
  transition: 0.5s ease-in-out;
  font-size: 1.5rem;
}
.cart_page_container .cart_page_items {
  background-color: rgba(128, 128, 128, 0.436);
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.cart_page_container .cart_page_items .cart_page_card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
  gap: 2rem;
}
.cart_page_container .cart_page_items .cart_page_card .cart_card_image {
  margin-left: 5rem;
  width: 150px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.cart_page_container .cart_page_items .cart_page_card .cart_card_name {
  font-size: 2.2rem;
  margin-left: 1rem;
}
.cart_page_container .cart_page_items .cart_page_card .cart_card_type {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
.cart_page_container .cart_page_items .cart_page_card .cart_card_price {
  margin-left: 1rem;
  margin-top: 1rem;
}
.cart_page_container .cart_page_items .cart_page_card .cart_function_btn {
  width: 5rem;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.cart_page_container .cart_page_items .cart_page_card .cart_function_btn:hover {
  width: 6rem;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.cart_page_container .cart_page_items .cart_page_total {
  display: flex;
  justify-content: center;
}
.cart_page_container .cart_page_items .cart_page_total .cart_page_total_ {
  width: -moz-fit-content;
  width: fit-content;
}
.cart_page_container .cart_page_items .cart_page_total .cart_page_checkout {
  width: 5rem;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.cart_page_container .cart_page_items .cart_page_total .cart_page_checkout:hover {
  width: 6rem;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.cart_page_container .cart_page_items .cart_page_total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart_page_container .cart_page_items .cart_page_total .cart_page_total_ {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.4rem;
}
.cart_page_container .cart_page_items .cart_page_total .cart_page_checkout {
  width: 12rem;
  height: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  border: none;
  outline: none;
  border-radius: 0.7rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.cart_page_container .cart_page_items .cart_page_total .cart_page_checkout:hover {
  width: 16rem;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.cart_page_container .cart_page_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(10, 9, 9, 0.073);
  padding: 0.5em;
  margin-top: auto;
}/*# sourceMappingURL=styles.css.map */