@use '../globals/colors' as c;
@use '../globals/variables';


.home_page_container{
   
   min-height: 100vh;
   scroll-behavior: smooth;
   transition: 0.3s ease-in-out;
    &::before{
        content: '';
        top:0;
        bottom:0;
        right:0;
        left:0;
        position: absolute;
        background-image: url("../images/backimg1.jpg");
        background-position:top center;
        background-size:cover;
        opacity: .5;
        z-index: -1;
    }


   
    .home_page__header{
    
        .home_page__nav{
            width: 100% ;
            display: flex;
            flex-direction:row;
            justify-content:space-between;
            padding: 0.4em ;
            font-size: 1.2rem;
            background-color: rgba(56, 233, 59, 0.822);
            & :hover{
                text-shadow: 5px 5px 10px gray;
                color: black;
  
              }
          
            
            
            .home_page__logo{
                margin-top:auto;
                margin-bottom:auto;
                
            }

            .home_page_signout_button{
              border: none;
              outline: none;
              padding: 1rem;
              background-color: red;
              color: white;
              border-radius: 0.3rem;
              font-weight: bold;
              
            }
            .purchase_page_add_to_bag{  
              width: 30px;
              height: 30px;
            }
    
            .home_page__ul,.home_page__list{
                list-style-type:none;
                display: inline-block;
                padding:0.3em;
                padding-right: 1rem;
    
                & :hover{
                    // color: skyblue;
                    text-shadow: 5px 5px 10px gray;
                    transition: 0.5s ease-in-out;
                    font-size: 1.3rem;
                    color: black;
                }

               
             .home_page_clear_cart_form{
              border-radius: 0.5rem;
              
            }
            
            .home_page_clear_cart_btn{
              background: rgb(203, 213, 5);
              // background: linear-gradient(151deg, rgba(18,255,26,1) 0%, rgba(23,157,37,1) 67%, rgba(13,130,26,1) 90%, rgba(3,105,16,1) 99%);
                  color: white;
                  border: none;
                  outline: none ;
                  padding: 0.8rem;
                  border-radius: 0.4rem;
                  transition: 0.6s ease-out;
                  &:hover{
                    transition: 0.6s ease-in-out;
                    background: rgb(171,177,42);
                    background: linear-gradient(151deg, rgba(171,177,42,1) 0%, rgba(203,213,5,1) 40%, rgba(174,182,18,1) 76%, rgba(125,129,56,1) 100%);
                    color: red;
                    width: 10rem;
                  }
            }
                
            }
        }  // nav bar 
      }  // header

      .home_page_main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        font-size: 2rem;
        padding: 1.5em;
        height: 100vh;
        

        .home_page_left{
            width: 42%;
            opacity: 70%;
        }

        .home_page_right{
            background-color: rgba(56, 233, 59, 0.529);
            padding: 1em;
            color: white;
            border-radius: 0.5em;
            cursor: pointer;
            z-index: 2;
          
        }
.home_link{
    z-index: 3;
}

      }  // main part 


      .h_p_filter{
        display: flex;
        justify-content: center;
        .home_page_filter{
          background-color: rgba(251, 249, 249, 0.267);
          display: flex;
          justify-content: center;
          gap: 1rem;
          padding-top: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
          padding-bottom: auto;
          border-radius: 0.5em;
          margin-left: 1rem;
          margin-right: 1rem;
          width: fit-content;

          .div{
          background-color: rgba(56, 233, 59, 0.529);
          padding: 1em;
          color: white;
          border-radius: 0.5em;
          border: none;
          font-weight: bold;
            
          }

    }
      }

      .purchase_page_product_list{
        background-color: rgba(251, 249, 249, 0.267);
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 5 rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-around;
        padding-left: auto;
        padding-right: auto;
        flex-wrap: wrap;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
      
      
        .purchase_page_card{
             width: 14rem;
             height: 100%;
             padding: 1rem;
             margin: 1.5rem;
             display: flex;
             flex-direction: column;
             border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            // background: radial-gradient(circle at 10% 20%, rgb(227, 227, 227) 0%, rgb(186, 186, 186) 90%);
            background: rgb(18,255,26);
      background: linear-gradient(151deg, rgb(128, 175, 128) 0%, rgb(127, 179, 127) 67%, rgb(147, 210, 147) 90%, rgb(104, 214, 104) 99%);
      
          .pp_card_image{
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 0.5rem;
            margin:auto auto;
            padding: 1rem 1rem 1rem 1rem;
            // box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          }
      
          .pp_card_name{
            margin-top: 1rem;
            font-size: 1.5rem;
          }
      
          .pp_card_type{
            font-size:1.2rem;
            margin-top: 0.5rem;
          }
          
          .pp_card_price{
            margin-top:1rem;
            font-size: 1.3rem;
            display: flex;
            justify-content: flex-end;
           }
      
        .pp_form{
          display: flex;
          justify-content: center;
          margin-top: 1rem;
          .pp_atb_btn{
            background-color: rgba(36, 22, 22, 0.9);
            width: 14rem;
            color: white;
            border: none;
            outline: none ;
            padding: 0.8rem;
            border-radius: 0.4rem;
      
            &:hover{
              transition: 0.7s ease-in-out;
              width: 10rem;
      
            // background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
            color: rgba(69, 196, 80, 0.816);
      
            }
          
          }
        }
         
      
      
        }
      }
      

.home_page_contact{
  input {
    overflow: hidden;
  }
  
  .row{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    .col-md-6{
      display: flex;
      flex-direction: column;
    }

    #formstyling{
      display: flex;
      flex-direction: column;
    }

    .col-sm-6{
      width: 20rem;
    }

  }



  .section-title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 35px;
  }
  
  .sec-pad {
    padding: 60px 0 0;
    margin: 50px 0;
  }
  
  .contact-sec {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #5cbde466;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .contact-sec .contact-ul li,
  .contact-ul b {
    font-size: 20px;
    margin: 10px 0;
    word-wrap: break-word;
  }
  
  .contact-sec .contact-ul i {
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .contact-detail a {
    color: #000;
    text-decoration: none;
  }
  
  .contact-sec .contact-ul li b:hover {
    color: #f93;
  }
  
  .contact-sec .contact-ul li .fa-location-dot {
    color: #f44337;
    border: 2px solid #f4433790;
  }
  
  .contact-sec .contact-ul li .fa-phone {
    color: #00b055;
    border: 2px solid #00b05590;
  }
  
  .contact-sec .contact-ul li .fa-envelope {
    color: #ff6347;
    border: 2px solid #ff634790;
  }
  
  .contact-detail span {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .contact-detail span a {
    font-size: 20px;
    padding: 6px 12px;
    color: #000;
    border-radius: 50%;
    margin: 0px 5px;
  }
  .contact-detail span .fb {
    color: #3b5998;
    border: 3px solid #3b5998;
  }
  .contact-detail span .fb:hover {
    color: #fff;
    background-color: #3b5998;
  }
  
  .contact-detail span .insta {
    color: #833ab4;
    border: 3px solid #833ab4;
  }
  .contact-detail span .insta:hover {
    color: #fff;
    background-color: #833ab4;
  }
  
  .contact-detail span .twitter {
    color: #00acee;
    border: 3px solid #00acee;
  }
  .contact-detail span .twitter:hover {
    color: #fff;
    background-color: #00acee;
  }
  
  form.contFrm {
    max-width: 396px;
    margin: auto;
  }
  
  .inptFld {
    width: 100%;
    height: 50px;
    border: 0;
    margin: 0 0 10px;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 16px;
    color: #000;
  }
  
  .inptFld:focus {
    outline-offset: -4px;
    outline: 1px solid #f93;
  }
  
  .contFrm textarea {
    height: 75px;
    padding-top: 5px;
  }
  .inptBtn {
    height: 50px;
    border: 0;
    background: #00b055;
    font-size: 14px;
    color: #fff;
    margin: auto;
    letter-spacing: 1px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
  }
  
  /* Responcive css Start */
  
  @media (max-width: 991px) {
    .sec-pad {
      padding: 20px 0 0px;
    }
  
    .contact-sec .contact-ul li,
    .contact-ul b {
      font-size: 18px;
    }
  
    .contact-sec .contact-ul i {
      font-size: 14px;
      padding: 6px;
      margin-right: 6px;
    }
  
    .inptFld {
      height: 40px;
      margin: 0 0 10px;
      padding: 0 14px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 767px) {
    .contact-detail span {
      width: auto;
    }
    .contact-detail span a {
      font-size: 18px;
      padding: 5px 10px;
      color: #000;
      border-radius: 50%;
      margin: 0px 5px 20px;
    }
  }
  
  @media (max-width: 575px) {
    .section-title {
      font-size: 26px;
      font-weight: 500;
    }
    .contact-sec {
      border-radius: 10% 10% 0% 0% / 5% 5% 0% 0%;
    }
  
    .contact-sec .contact-ul i {
      border: none;
    }
    .inptFld {
      height: 36px;
      margin: 0 0 8px;
      padding: 0 14px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .contact-sec .contact-ul li,
    .contact-ul b {
      font-size: 16px;
    }
  }
  
}
      




      
} // main container



