@use '../globals/colors' as c;
@use '../globals/variables';  
@use '../globals/typography';


    .login_container{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;


        &::before{
            content: '';
            top:0;
            bottom:0;
            right:0;
            left:0;
            position: absolute;
            background-image: url('../images/loginimg.jpg');
            background-position:top center;
            background-size:cover;
            opacity: 0.5;
            z-index: -1;
        }

       .login_header{
        display: flex;
        flex-direction:row;
        .login_navbar{
            width: 100%;
            padding: 1em;
            z-index: 2;
            background-color:  rgba(56, 233, 59, 0.822);

            .login_logo{
                margin-left: 0.1em;
                font-size: 2rem;
                font-weight: 800;
                & :hover{
                    text-shadow: 5px 5px 10px gray;
                    color: black;
      
                  }
              
         }            
        } // Navbar 
        } //Header Section 

        .login_main{
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
            padding-left: 5rem;
            padding-right: 5rem;


            .login_form{
                // background-color: black;
                border-radius:1em;
                width: 25em;
                height: 30em;
                padding-left: 2rem;
                padding-right: 2rem;
                box-shadow: transparent;

                .login_formholder{
                     display: flex;
                     width: 100%;
                     justify-content: center;
                     flex-direction: column;
                     margin-inline:auto;
                    
    
                     .login_signin{
                         width: 100%;
                         padding-top: 2rem;
                         font-size:2.5rem;
                         display: flex;
                         justify-content:center;
                     }
                    
                    .login_section{
                        display: flex;
                        flex-direction:column;
                        padding:1em;
                        gap:2rem; 
                        margin-top:2rem;   
                    }

                    .login_input{
                        margin-inline:auto;
                        padding: 1em ;
                        width: 17em;
                        border-radius:0.6em;
                        border:none;
                        outline:none;
                       
                    }
    
                    .login_btn{
                        margin-inline:auto;
                        width: 10rem;
                        padding: 1em 1em;
                        border-radius:0.6em;
                        font-size: 1em;
                        font-weight: bold;
                        margin-top:0.5rem;
                        background-color: rgba(56, 233, 59, 0.822);
                        color: white;
                        border: none;   
                        outline: none;
                        &:hover{
                            background-color: black ;
                            color: white;
                            transition: 0.5s ease-out;
                        }
                    }

                    .login_register{
                          padding-left:5rem;
                          padding-right:4rem;
                             a:hover{
                                &::after{
                                    content: '.';
                                    transition: 0.5s ease-in-out;
                                }
                             }

                    }


                

                } // formholer
            }  // loginform
        }  //main 

    .login_footer{
        width:100%;
        display:flex;
        justify-content:center;
        background-color: rgb(10, 9, 9);
        padding: 0.5em;
    }

    }  //container